eco-/eco-.xcodeproj/project.xcworkspace/xcuserdata/guilhermehohenfeld.xcuserdatad/UserInterfaceState.xcuserstate
../.DS_Store
eco-.xcodeproj/project.xcworkspace/xcuserdata/guilhermehohenfeld.xcuserdatad/UserInterfaceState.xcuserstate
eco-.xcodeproj/project.xcworkspace/xcuserdata/akolyvongdala.xcuserdatad/
eco-.xcodeproj/xcuserdata/akolyvongdala.xcuserdatad/
eco-/.DS_Store
*UserInterfaceState.xcuserstate
*.DS_Store
